@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  
body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(255, 255, 255);
    padding-left: 5em;
    padding-right: 5em;
}

h1 {
    font-size: 4.7em;
    margin-bottom: 0em;
    margin-top: 0em;
    margin-left: 0.2em;
    color:white;
}

h2 {
    font-size: 0.8em;
    margin-bottom: 0em;
    margin-top: 0em;
    margin-left: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    color:white
}

.heading {
    background-repeat: no-repeat, repeat;
    background-image: -webkit-linear-gradient(rgb(42, 93, 110), rgb(16, 37, 43)), url(https://thumbs.dreamstime.com/b/abstract-white-background-stripes-dots-vector-minimal-banner-grey-colored-sleek-texture-banners-presentations-137051578.jpg);
    background-blend-mode: multiply;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: flex;
    min-width: 44em;

}

.donkey {
    width: 15%;
    padding: 20px 15px 15px 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    filter: hue-rotate(100deg);
    min-width: 80px;
}

.navbar {
    list-style-type: none;
    background-repeat: no-repeat, repeat;
    background-image: -webkit-linear-gradient(rgb(42, 93, 110), rgb(16, 37, 43)), url(https://thumbs.dreamstime.com/b/abstract-white-background-stripes-dots-vector-minimal-banner-grey-colored-sleek-texture-banners-presentations-137051578.jpg);
    background-blend-mode: multiply;
    display: flex;
    flex-flow: row;
    flex-basis: 75%;
    justify-content: left;
    flex-wrap: wrap;
    border-radius: 30px;
    padding-left: 0;
    min-width: 44em;
}

.navlink {
    display: inline-flexbox;
    padding: 15px 1em 15px 1em;
    margin-right: 0em;
    margin-left: 0em;
}

.navword {
    text-decoration-line: none;
    color: white;
    padding: 0.3em 0.5em 0.3em 0.5em;
    background-color: rgb(36, 74, 87);
    border-radius: 20px;
    border: 1px solid turquoise;
}

.navword:hover {
    background-color: rgb(67, 122, 140);
}



.article-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    align-self: center
}

.article-overview {
    display: flex;
    flex-flow: row;
    margin-bottom: 25px;
    margin-top: 25px;
    min-width: 44em;
}

.article-title {
    color: rgb(36, 74, 87);
    text-decoration-line: underline;
}

h3 {
    margin-bottom: 50px;
    background-color: rgb(243, 243, 243);
    width: 40em;
    padding: 8px 5px 8px 8px;
    border-bottom-right-radius: 15px;
}

h3:hover {
    color: rgb(67, 122, 140);
}

p {
    position: relative;
    left: 25px;
    margin-bottom: 60px;
    max-width: 40em;
    color: rgb(104, 104, 104);
}

.text-section {
    margin-left: 50px;
} 

.bottomline {
    position: relative;
    color: lightgray;
    display: flex;
    flex-direction: column;
    line-height: 150%;
}

.bottomline a {
    text-decoration-line: none;
    color: rgb(67, 122, 140);
    font-weight: bold;
}

.two-columns {
    display: inline-flex;
    gap: 50px;
    margin-right: 5em;
}

.topics {
    position: relative;
    margin-top: 42px;
    background-color: rgb(238, 238, 238);
    padding: 0px 20px 20px 20px;
    justify-content: right;
    display: flex;
    flex-flow: column;
    left: 21vw;
    min-width: 1em;
    margin-right: 5em;

}

h4 {
    font-size: larger;
    padding-top: 0px;
    margin-top: 13px;
}

.topics a {
    text-decoration-line: none;
    color: rgb(36, 74, 87);
    padding: 1px 8px 1px 8px;
    display: flex;
    justify-content: center;
}

.topics a:hover {
    background-color: rgba(36, 74, 87, 0.137);
    border-radius: 30px;
    color: rgb(56, 112, 131);
}
.topics li {
    display: flex;
    line-height: 40px;
}